#menu{
    position: fixed;
    left: 35px;
    width:fit-content;
    height: fit-content;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: none;
}
/*Linha do menu*/
#vl {
    /*border-left: 1px solid black;*/
    position: absolute;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

#menu ul {
    list-style: none;
    display: block;
}

#menu ul li {
    position: relative;
    /*background-color: white;*/
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px auto;
    width: 0.75vw;
    height: 0.75vw;
    border-radius: 50%;
}

#menu ul .grande{
    width: 1.5vw;
    height: 1.5vw;
}

#menu li:after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border-radius: 15px;
    border: 1px solid black;
}

#menu li.active, #menu li:hover {
    background-color: black;
}
