*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


section{
    position: relative;
}
/*Todos os textos da intro vão ter esta largura para formar 3 colunas*/
.text {
    position: absolute;
    width: calc(100vw/3);
    margin: 0 4%;
}
/*Os paragrafos = mas vão estar sempre centrados*/
.paragraph {
    position: absolute;
    width: calc(100vw/3);
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p{
    font-size: 1em;
    line-height: 1.5;
}
/*Os videos ocupam a largura toda da section, so os textos é que são absolute para andarem sempre dentro da section*/
video{
    width: 100vw;
}



/*--------------------------INTRO-------------------------*/
.intro-text1{
    top: 10%;
}
.intro-text2{
    right: 0;
    text-align: right;
    bottom: 10%;
}




/*--------------------------PARTE 2-------------------------*/
#part2-text1 video{
    width: 80vw;
}

