*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/*Secções com nrs - altura menor*/
#nr1 {
    height: 50vh;
}

section{
    position: relative;
    height: 100vh;
    width: 100vw;
}

/*Todos os textos da intro vão ter esta largura para formar 3 colunas*/
.text {
    position: absolute;
    width: calc(100vw/3);
    margin: 0 4%;
}
/*Os paragrafos = mas vão estar sempre centrados*/
.paragraph {
    position: absolute;
    width: calc(100vw/3);
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.white{
    color: #FFF;
}
p{
    font-size: 1em;
    line-height: 1.5;
}
/*Os videos ocupam a largura toda da section, so os textos é que são absolute para andarem sempre dentro da section*/
video{
    height: 100%;
    width: 100%;
}



/*--------------------------INTRO-------------------------*/
.intro-text1{
    top: 10%;
    z-index: 2;
}
.intro-text2{
    right: 0;
    text-align: right;
    bottom: 10%;
}
#intro video{
  object-fit: cover;
}


/*--------------------------PARTE 2-------------------------*/
.part2-text1 {
  overflow:scroll;
}

#quote{
    position:absolute;
    width: calc(100vw / 3);
    top: 5%;
    right: 5%;
    opacity: 1;
    transition: opacity 0.5s;
    font-size: 2em;
}



/*--------------------------PARTE 3 - Cabeça texto ajustado -------------------------*/

.head {
    top: 38%;
}

/*------texto à esquerda da cabeça------*/
.cabeça-esq {
    left: 2%;
    top: 75%;
}

/*--------texto à direita da cabeça-------*/
.cabeça-dir {
    right: 2%;
    top: 75%;
}

.flashback{
    border: 2px solid #000;
    position: absolute;
    right: 4%;
    bottom: 10%;
    padding: 1% 2%;
    cursor: pointer;
    transition: 0.3s;
}
.flashback:hover{
    background: #000;
    color: #fff;
}
.cabeça-esq  p ,.cabeça-dir p {
  font-size: 1.4em;

}


/*--------------------------POPUP-------------------------*/
.mobile-popup{
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
}
.popup-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/circo.png);
    background-position: center;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);

}
.popup{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 2;
    width: 70%;
    margin: 0;
    border-radius: 15px ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12% 4%;
    text-align: center;
}
.popup img{
    width: 60%;
    margin: 5% 0;
}
@media screen and (max-width: 900px) {
    p{
        font-size: 12px;
    }
    #quote{
        font-size: 18px;
    }
}
